<div class="w-100 mx-5">
  <div class="py-5">
    <h1><%= @doctor.name %></h1>
  </div>

  <h3>Patients</h3>
  <ul>
    <% @doctor.patients.each do |pat| %>
      <li><%= pat.name %> <%= pat.age %></li>
    <% end %>
  </ul>
</div>